In [1]:
import pandas as pd
df = pd.read_csv('../data/raw/tested.csv')
df.shape

(418, 12)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

Выведем неочивидные колонки

In [ ]:
df[["Pclass","SibSp", "Ticket", "Fare", "Cabin", "Embarked"]]

Pclass        3
SibSp         7
Ticket      363
Fare        169
Cabin        76
Embarked      3
dtype: int64

Какие значения может принимать каждая колонка

In [56]:
print("Survived ", df["Survived"].unique())
print("Pclass ", df["Pclass"].unique())
print("SibSp ", df["SibSp"].unique())
# print("Ticket ", df["Ticket"].unique())

fare=df["Fare"].unique()
fare.sort()
# print("Fare ", fare)


print("Parch ", df["Parch"].unique())
print("Cabin ", df["Cabin"].unique())
print("Embarked ", df["Embarked"].unique())

Survived  [0 1]
Pclass  [3 2 1]
SibSp  [0 1 2 3 4 5 8]
Parch  [0 1 3 2 4 6 5 9]
Cabin  [nan 'B45' 'E31' 'B57 B59 B63 B66' 'B36' 'A21' 'C78' 'D34' 'D19' 'A9'
 'D15' 'C31' 'C23 C25 C27' 'F G63' 'B61' 'C53' 'D43' 'C130' 'C132' 'C101'
 'C55 C57' 'B71' 'C46' 'C116' 'F' 'A29' 'G6' 'C6' 'C28' 'C51' 'E46' 'C54'
 'C97' 'D22' 'B10' 'F4' 'E45' 'E52' 'D30' 'B58 B60' 'E34' 'C62 C64' 'A11'
 'B11' 'C80' 'F33' 'C85' 'D37' 'C86' 'D21' 'C89' 'F E46' 'A34' 'D' 'B26'
 'C22 C26' 'B69' 'C32' 'B78' 'F E57' 'F2' 'A18' 'C106' 'B51 B53 B55'
 'D10 D12' 'E60' 'E50' 'E39 E41' 'B52 B54 B56' 'C39' 'B24' 'D28' 'B41'
 'C7' 'D40' 'D38' 'C105']
Embarked  ['Q' 'S' 'C']

In [ ]:
# print("Age ", df["Age"].unique())  

print("\n")
print(df["Age"].isna().sum(), " missing values in Age column")

print("\n")
print(df["Fare"].isna().sum(), " missing values in Fare column")

print("\nБесбилетниик: \n")
print(df[df["Fare"].isna()])

86  missing values in Age column


1  missing values in Fare column

Бесбилетниик:

     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
152         1044         0       3  Storey, Mr. Thomas  male  60.5      0

     Parch Ticket  Fare Cabin Embarked
152      0   3701   NaN   NaN        S

In [70]:
print(df["Cabin"].isna().sum(), " missing values in Cabin column\n")

print("Бомжы: \n")
print(df[df["Cabin"].isna()].head(5))

327  missing values in Cabin column

Бомжы:

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [ ]:
# Посчитаем количество выживших и их пропорцию
survived = df[df["Survived"]==1].count()
print("Survived count: ", survived["Survived"])
not_survived = df[df["Survived"]==0].count()
print("Not survived count: ", not_survived["Survived"])

survived_perc = survived["Survived"] / (survived["Survived"] + not_survived["Survived"]) * 100

print("Survived percentage: ", survived_perc)

Survived count:  152
Not survived count:  266
Survived percentage:  36.36363636363637

In [102]:
# Взгляем на пропорцчию выживших в зависимости от класса пассажира
# df.groupby('Sex')['Survived'].mean()

# print(df["Sex"].unique()[0])
survied_female_perc = df[(df["Sex"] == df["Sex"].unique()[1]) & (df["Survived"] == 1)].shape[0] / df[df["Sex"] == df["Sex"].unique()[1]].shape[0]
print("percentage of survived female: ", survied_female_perc * 100, "%")

survied_male_perc = df.groupby('Sex')['Survived'].mean().iloc[1]
print("percentage of survived male: ", survied_male_perc * 100, "%")

print(df.groupby('Pclass')['Survived'].mean())

percentage of survived female:  100.0 %
percentage of survived male:  0.0 %
Pclass
1    0.467290
2    0.322581
3    0.330275
Name: Survived, dtype: float64

In [ ]:
# Чистим вилкой
df_cleaned = df.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"])
df_cleaned = df_cleaned.fillna({
    "Age": df_cleaned["Age"].median(),
    "Embarked": df_cleaned["Embarked"].mode()[0]
})
df_cleaned = df_cleaned.dropna(subset=["Fare"])

In [ ]:
df_cleaned = pd.get_dummies(df_cleaned, columns=['Sex', 'Embarked'], drop_first=True)